/*COMMUN*/
h1, h2, h3, h4, h5, h6, p, ul, li {
  text-transform: uppercase;
  font-weight: bold;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  color: red;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: arial, sans-serif;
}

@media (min-width: 768px) {

  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {

  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important;
  }
}

@media (min-width: 1200px) {

  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important;
  }
}

/*BACKGROUND*/
#landscape {
  width: 140%;
  margin-left: -21%;
  height: auto;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.0013559299999999998, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.0013559299999999998, 0, 0, 1, 0, 0, 0, 0, 1);
  -o-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.0013559299999999998, 0, 0, 1, 0, 0, 0, 0, 1);
  -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.0013559299999999998, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.0013559299999999998, 0, 0, 1, 0, 0, 0, 0, 1);
  z-index: -1;
}

#road {
  height: auto;
  background: url(http://www.adobetutorialz.com/content_images/AdobePhotoshop/Textures&Patterns/road/ASPHALT3.JPG) repeat;
  -webkit-animation: drive 3s infinite linear;
  -moz-animation: drive 2s infinite linear;
  -ms-animation: drive 3s infinite linear;
  -o-animation: drive 3s infinite linear;
  animation: drive 3s infinite linear;
}

.center {
  margin-top: 1px;
  text-align: center;
}

#line {
  display: inline-block;
  height: 1521px;
  /* Change below to 18px for FF; 17px for Chrome */
  border-right: 17px dashed #fff;
}

/*
	0% < from
  to < 100%  -- byte saving trick
*/
@-webkit-keyframes drive {
  0% {
    -webkit-transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(512px);
  }
}

@-moz-keyframes drive {
  0% {
    -moz-transform: translateY(0);
  }

  to {
    -moz-transform: translateY(512px);
  }
}

@-o-keyframes drive {
  0% {
    -o-transform: translateY(0);
  }

  to {
    -o-transform: translateY(512px);
  }
}

@-ms-keyframes drive {
  0% {
    -ms-transform: translateY(0);
  }

  to {
    -ms-transform: translateY(512px);
  }
}

@keyframes drive {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(512px);
  }
}

/* END BACKGROUND*/
/*START NAV*/
nav {
  position: absolute;
  top: 340px;
  left: 445px;
  z-index: 1;
}

nav ul {
  transform: rotate(31deg);
}

nav ul a {
  font-size: 2.1rem;
}

/*END NAV*/
/*PAGE INDEX*/
/*HEADER*/
.headerIndex{
  height: 620px;
}
.btnMenu{
  z-index: 1;
}

canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}
#cone {
  height: 200px;
  margin-top: 60px;
}

/*BLOC DESCRIPTION*/
section h2 {
  padding: 5px;
  font-size: 2rem;
}

section p {
  padding: 5px;
  font-size: 0.8rem;
}

section.row {
  margin-top: 50px;
}

.row:nth-child(4) {
  margin-bottom: 50px;
}

.description {
  background-color: #F4E027;
  border: 10px solid black;
  border-radius: 50px;
}

.description-bloc {
  flex: 2;
}

.img-body {
  flex: 1;
}

.img-des1, .img-des3 {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.img-des2, .img-des4 {
  border-top-left-radius: 35px;
  border-bottom-left-radius: 40px;
}

/*FOOTER*/
/*ECRAN LCD*/
footer {
  text-align: center;
  text-align: -webkit-center;
  padding: 5px;
}

#wrapper {
  width: 756px;
}

#theMarquee {
  height: 50px;
  background: linear-gradient(0deg, #111, #222);
  border-radius: 5px;
}

.light {
  width: 5px;
  height: 5px;
  margin: 1px 1px;
  text-align: center;
  font-size: 15px;
  float: left;
  border-radius: 50%;
}

.off {
  /*background-color: #f780005e;*/
  background-color: #540202;
}

.on {
  background-color: yellow;
}

/*PAGE PROGRAMMATION ET INFORMATION*/
/*HEADER*/
.headerPageProgrammation, .headerPageInformation {
  margin-top: 10px;
}
.bg-white {
  background-color: white;
}

.bg-red {
  background-color: red;
  }

  .bg-white ul {
    font-size: 1rem;
    list-style: none;
    padding: 5px;
  }

  /*PAGE PROGRAMMATION*/
  /*HEADER*/
.prog {
  font-size: 6rem;
  font-weight: bold;
}

.accordion {
  margin: 50px auto;
}

.accordion .card:nth-child(1) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.accordion .card:nth-child(3) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion h2 button {
  font-size: 3rem;
  color: red;
}

.accordion h2 button:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.card-header {
  background-color: inherit;
  border-bottom: none;
}

/*PAGE INFORMAATION*/
/*HEADER*/
.info {
  font-size: 4.2rem;
}

.firstRow {
  margin: 50px auto;
  margin-bottom: 0;
}

.secondRow p {
  font-size: 1rem;
}

.thridRow p {
  font-size: 0.8rem;
}

label, input {
  font-size: 1rem;
}
